<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col-md-7">
      <h1>Created Quotes</h1>
      <hr>
      <div class="row">
        <div class="card col-md-9 m-1" *ngFor='let quote of quote;let i = index'>
          <div class="card-body">
            <span *ngIf='quote.like >= 10' appHighlight>
              <p class="card-text">{{quote.quote}}</p>
            </span>
            <span *ngIf='quote.like < 10'>
              <p class="card-text">{{quote.quote}}</p>
            </span>
            <p class="card-text"><small class="text-muted">Published By: {{quote.completeDate|date}}</small></p>
            <p class="card-text"><small class="text-muted">Created On: {{quote.completeDate|date}}</small></p>
            <button class="btn btn-danger" (click)='toggleDetails(i)'>Details</button>
            <app-quote-details *ngIf='quote.showDescription' [quote]='quote' (isComplete)='deleteQuote($event,i)'>
            </app-quote-details>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
  </div>
</div>