/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{  
 background-image: url(./assets/a.jpg);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-position: right;
}
nav{
    background-colorrgb(0, 204, 136) ;
    color: azure;
}
.logo{
    color:rgb(0, 128, 85);
    font-size: 26px;
    font-weight: 500;
}
.navbar-brand{
    font-weight: 500;
}

ul li a{
    color:white;
}
nav a{
    color:white;
}
nav a:hover{
    color:white;
}
ul li a:hover{
    color:white;
}